
.clist {
	border: 1px solid grey;
	width: 600px;
	padding: 2px;
	border-collapse: collapse;
	margin-left: 20px;
}

.col {
	border: 1px solid ;
	padding: 5px;
	text-align: center;
	border-collapse: collapse;
}
table, th, td {

	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

.branding{
	font-size:17px;
	
}

.showcase{
  background:url('../img/pic6.jpg') no-repeat;
  background-position:center;
  height: 600px;
  padding:140px 100px;
  color:#fff;
  
 }
.showcase h1{
	
	font-size:40px;
	font-weight:700;
	text-transform: uppercase;
}

.showcase hr{
	
	width:100px;
	margin:auto;
	border-width:3px;
	border-color:#f44336;
}

.showcase p{
	
	font-size:16px;
	padding-botthom:20px;
}

.section{
	padding:30px 0;
}

.section h2{
	
	padding:0;
	margin:0;
}


.section h3{
	
	position:relative;
	top:2px
	
	
}

.section .fa{
	font-size:50px
}


